.navbar-container {
  border: 2px solid blueviolet;
  border-radius: 15px;
  background: white;
  height: 50px;
  width: 1200px;
  margin-left: 100px;
  margin-top: 10px;
}

.user-img-container {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  object-fit: fill;
  border: 1px solid;
  margin-right: 1rem;
}

.user-img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.margin-right-side {
  margin-right: 1rem;
  height: 30px;
  width: 30px;
  color: gray;
}

.side-navbar-icon {
  height: 30px !important;
  width: 30px !important;
}

.global-search-input-box {
  height: 35px;
  border-radius: 15px !important;
  background: lightgray !important;
  border: none !important;
}

.main-page-container {
  padding: 15px !important;
}

.content-stepper {
  margin-top: 25px;
  width: 1200px;
  margin-left: 110px;
}

.ipfs-url-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.url-title {
  font-weight: 600;
  font-size: 16px;
}

.copy-content-btn {
  background: lightgray !important;
  border: none !important;
  border-radius: 100% !important;
  height: 40px;
  width: 40px !important;
}

.copy-icon {
  height: 20px;
  width: 20px !important;
  color: black;
}

.transaction-successful-main-container {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.transaction-successful-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transaction-successful-icon {
  height: 40px !important;
  width: 40px !important;
  color: green !important;
}

.transaction-successful-title {
  font-weight: 600;
  font-size: 20px;
}

.transaction-details-title {
  font-weight: 600;
  font-size: 20px;
}

.transaction-details-container {
  background: rgba(255, 255, 255, 0.77);
  border-radius: 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.transaction-details-content-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  padding: 1.5rem;
}

.transaction-details-content-list1 {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  height: 70px;
  border-radius: 10px;
  justify-content: space-between;
}

.form-check-input {
  height: 1.2rem !important;
  width: 1.2rem !important;
}

.margin-left {
  margin-right: 8rem;
}

.send-container {
  margin-right: 8rem;
  margin-left: 8rem;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-btn {
  height: 40px;
  width: 50px;
  background: lightgray !important;
  border: none !important;
}

.send-btn1 {
  height: 40px;
  width: 84px;
  background: lightgray !important;
  border: none !important;
  color: black !important;
}

.send-icon {
  color: black;
}